<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>CV - {{ basics.name }}</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main class="cv">
    {{ content | safe }}
  </main>
</body>
</html>